img{
    height: 200px;
    margin-left:2em;
}

h3{
    color:#9c3708;
}
h6{
    padding:1em;
}
.abc{
display: flex;
padding: 5em;
align-items: center;
}
.alignleft{
    text-align:left;
    text-indent: 5em;
    margin-bottom:1em;
}
.about-mypic{
    border:5px solid orange;
    padding:2px;
    border-radius: 15px;
}