.contactform{
    margin: auto;
    /* width: 700px; */
    height: auto;
    /* background-color: rgb(189, 118, 118); */
    display:flex;
    flex-direction: column;
    align-items: center;
    /* border: 3px solid green; */
}

.twocoloumndiv{
    display: flex;
/* border: 1px solid black; */
/* height:700px; */
width: 80%;
}

.contactform-right{
    /* margin: auto; */
     width: 60%;
    height: 200px;
    /* background-color: rgb(189, 118, 118); */
     /* border:1px solid red;  */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}

.left-pannel{
    display: flex;
    align-items: top;
    align-content: top;
     /* border: 1px solid red; */
     height: 200px;
    width: 40%; 
      margin-top: 50px;
    /* margin:0 auto; */ 
    justify-content:space-around;

}

 /* dont change it .. or else it will be applied on about us image  */
.img-cont{
    /* border: 1px solid rgb(170, 34, 34); */
     height: 50px;
    /* width: 100px;  */
    /* border:1px solid red; */
} 


.cont-txtbox{
    width: 250px;
    border-radius: 12px;
    height: 3em;
    
}
.cont-sub-btn{
    width: 80px;
    border-radius: 12px;
    height: 2em;
    
}