.foot{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    background:linear-gradient(to bottom ,#9c3708 , #eec39a);
}