

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background:linear-gradient(to bottom ,#9c3708 , #eec39a);
    

}
.logo{
    color:rgb(233, 227, 227);
    text-transform:uppercase ;
    letter-spacing: 3px;

}
.navlinks{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.navlinks li{
    list-style: none;
}
.navlinks a{
    color:rgb(233, 227, 227);
    text-decoration: none;
    font-weight:bold;

}